<h1>1997 - 2016 <small>Transports</small></h1>
<div class="row">
	<div class="col-xs-12">
		<div class="box box-default">
            <div class="box-body">
                {% include "dashboards/inflation/sequences/transports.html" %}
				{% include "dashboards/inflation/charts/indexes/transports.html" %}
    		</div>
    	</div>
    	<div class="box box-default">
            <div id="content-box" class="box-body">

    		</div>
    	</div>
	</div>
</div>
<script>
$(document).ready(function () {
	loadDashboard('layouts_months__transports', 'inflation', '#content-box')
});
</script>