<ul class="sidebar-menu" data-widget="tree">
	<li class="header">By year</li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-calendar"></i> <span>Years</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__years__1997', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;1997</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__years__1998', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;1998</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__years__1999', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;1999</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__years__2000', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;2000</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__years__2001', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;2001</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__years__2002', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;2002</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__years__2003', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;2003</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__years__2004', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;2004</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__years__2005', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;2005</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__years__2006', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;2006</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__years__2007', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;2007</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__years__2008', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;2008</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__years__2009', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;2009</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__years__2010', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;2010</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__years__2011', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;2011</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__years__2012', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;2012</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__years__2013', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;2013</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__years__2014', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;2014</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__years__2015', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;2015</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__years__2016', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;2016</a>
            </li>
        </ul>
    </li>
    <li class="header">By index</li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-calendar"></i> <span>Index</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__global_index', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;Global index</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__food', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;Food</a>
            </li>
            <li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__housing', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;Housing</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__health', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;Health</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__transports', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;Transports</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__communication', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;Communication</a>
            </li>
            <li>
            	<a href="#" onclick="javascript:loadDashboard('pages__education', 'inflation')">
            	<i class="fa fa-circle-o"></i>&nbsp;Education</a>
            </li>
        </ul>
    </li>
    <!-- li class="header">Tendances</li>
    <li class="treeview">
    	<a href="#" onclick="loadDashboard('tendances', 'inflation')"><i class="fa fa-bar-chart">
    	</i>&nbsp;Distribution</a>
    </li> -->
</ul>
<style>
h1, h2 {
	margin-top:-0.4em;
}
.sequence {
    margin-left:1em;
}
</style>
<a href="#"></a>
